*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #FFF4E4;
    min-height: 100vh;
}
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.image-container {
    width: 50%;
}

.image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.form-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4e4;
}

.card {
    background-color: #FFE4BD;
    width: 360px;
    padding: 50px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 200px;
}

.subtitulo{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.usuario {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-perfil {
    flex: 1;
    padding: 8px 0;
    background-color: transparent; /* Sem preenchimento */
    border: 1.5px solid #312719;   /* Apenas a borda */
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #312719;                /* Letra escura no botão não selecionado */
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-perfil.ativo {
    background-color: #EEC994;    /* Fundo escuro */
    color: #ffffff;                /* Letras brancas */
    border-color: #312719;
}

form{
    width: 100%;
}

.input-group{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.input-group label{
    font-size: 11px;
    color: #333;
    margin-bottom: 4px;
    font-weight: 600;
}
.input-group small {
    font-size: 9px;
    margin-top: 4px;
}
.input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 8px 10px 8px 32px;
    border: 1px solid #666;
    border-radius: 8px;
    background-color: transparent;
    font-size: 12px;
}
.input-box input::placeholder{
    color: #b3a58e;
}
.input-box img {
    position: absolute;
    left: 10px;
    width: 16px;
}
.input-box input:focus{
    border-color: #000;
}

hr{
    border: none;
    border-top: 1px solid #d4be95;
    margin: 15px 0;
    width: 100%;
}

.btn-submit{
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #edd19c;
    border: 1px solid #c8b082;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.login-link{
    text-align: center;
    font-size: 10px;
    color: #000;
    margin-top: 10px;
}
.login-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.login-link a:hover{
    text-decoration: underline;
}
.form-empreendedor{
    display: none;
}
@media (max-width: 900px) {

    .image-container {
        width: 40%;
    }

    .form-wrapper {
        width: 60%;
    }

}
@media (max-width: 640px) {

    .image-container {
        display: none;
    }

    .form-wrapper {
        width: 100%;
    }

}